@font-face {
    font-family: 'rasterGrotesk';
    src: url('font/rasterGrotesk-blended.otf');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'lausanne';
    src: url('font/TWKLausanne-400.otf');
    font-style: normal;
    font-weight: 400;
}

html {
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
}

#header-container {
    height: 100px;
    padding-left: 160px;
    padding-top: 30px;
    margin-bottom: 300px;
}

.title {
    display: inline-block;
    font-family: 'rasterGrotesk';
    font-size: 60px;
    letter-spacing: 0.3rem;
    width: 30%;
    vertical-align: top;
    margin-top: 35px;
}

.description {
    display: inline-block;
    font-family: 'lausanne';
    width: 26%;
    margin-top: 50px;
    margin-left: 18px;
    line-height: 1.2rem;
    font-size: 16px;
    vertical-align: top;
}

.credits {
    display: inline-block;
    font-family: 'lausanne';
    width: 21%;
    margin-left: 80px;
    margin-top: 50px;
    line-height: 1.2rem;
    font-size: 16px;
    vertical-align: top;
}

.divider {
    width: 90%;
    height: 2px;
    margin-top: 100px;
    background-color: gainsboro;
}

.container {
    padding-left: 320px;
    justify-content: center;
}

.letter-container {
    float: left;
    /* background-color: khaki; */
    margin-top: 150px;
    width: 230px;
    height: 300px;
    margin-right: 250px;
    margin-bottom: 80px;
    justify-content: center;
    position: relative;
    transform: scale(2.4);
    /* transform: scale(3); */
}


/* MODULES */

.ring {
    width: 40px;
    transition: 1s;
    position: absolute;
}

.line {
    width: 20px;
    height: 90px;
    /* border-radius: 10px; */
    background-color: black;
    transform-origin: center;
    position: absolute;
    transition: 1s;
}

.line-left,
.line-right {
    position: absolute;
    transform-origin: -5% 5% 5%;
    height: 170px;
}

.line-horizontal-1,
.line-horizontal-2,
.line-horizontal-3 {
    height: 20px;
    width: 150px;
}

.circle {
    transform-origin: 100% 100% 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    transition: 0.2s;
    z-index: 100;
    position: absolute;
}

.circle:hover {
    /* can also make a ring hover  */
    transform: scale(1.4);
    transform-origin: center;
    transition: 0.4s;
}

.circle:active {
    /* can also make a ring hover  */
    transform: scale(0.4);
    transform-origin: center;
    transition: 0.4s;
}


/* LETTERS */


/*** size: 170 x 210px */


/* A */

.a .line-left {
    top: 80px;
}

.a .ring.ul {
    top: 40px;
    left: 45px;
}

.a .ring.ur {
    top: 40px;
    left: 85px;
}

.a .circle {
    top: 130px;
    left: 65px;
}


/* .a .circle:active {
    width: 80px;
    height: 80px;
    transform-origin: 20% 20% 0;
} */

.a .line-right {
    top: 80px;
    left: 150px;
}


/* B */

.b .line-vertical-1 {
    top: 40px;
    height: 80px;
}

.b .line-vertical-2 {
    top: 180px;
    height: 70px;
}

.b .circle {
    top: 130px;
    left: -10px;
}

.b .line-horizontal-1 {
    top: 40px;
    left: 30px;
    width: 90px;
}

.b .line-horizontal-2 {
    top: 140px;
    left: 40px;
    width: 80px;
}

.b .line-horizontal-3 {
    top: 230px;
    left: 30px;
    width: 90px;
}

#b-ring-ur-1 {
    top: 150px;
    left: 130px;
}

#b-ring-ur-2 {
    top: 40px;
    left: 130px;
}

#b-ring-lr-1 {
    top: 210px;
    left: 130px;
}

#b-ring-lr-2 {
    top: 110px;
    left: 130px;
}


/* C */

#letter-c {
    margin-right: 10px;
}

.c .line-vertical-1 {
    top: 90px;
    height: 110px;
}

#c-ring-ul-1 {
    top: 40px;
}

#c-ring-ul-2 {
    top: 210px;
    left: 130px;
}

#c-ring-ll {
    top: 210px;
}

#c-ring-ur {
    top: 40px;
    left: 120px;
}

.c .line-horizontal-1 {
    top: 40px;
    left: 40px;
    width: 90px;
}

.c .line-horizontal-2 {
    top: 230px;
    left: 40px;
    width: 80px;
}

.c .circle {
    top: 60px;
    left: 130px;
}


/* D */

.d .line-vertical-1 {
    top: 40px;
    height: 80px;
}

.d .line-vertical-2 {
    top: 180px;
    height: 70px;
}

.d .line-vertical-3 {
    top: 90px;
    left: 150px;
    height: 110px;
}

.d .circle {
    top: 130px;
    left: -10px;
}

.d .line-horizontal-1 {
    top: 40px;
    left: 30px;
    width: 90px;
}

.d .line-horizontal-2 {
    top: 230px;
    left: 30px;
    width: 90px;
}

#d-ring-ur {
    top: 40px;
    left: 130px;
}

#d-ring-lr {
    top: 210px;
    left: 130px;
}


/* E */

.e .line-vertical-1 {
    top: 40px;
    height: 80px;
}

.e .line-vertical-2 {
    top: 180px;
    height: 70px;
}

.e .circle {
    top: 130px;
    left: -10px;
}

.e .line-horizontal-1 {
    top: 40px;
    left: 30px;
    width: 90px;
}

#e-ring-ur {
    top: 40px;
    left: 130px;
}

.e .line-horizontal-2 {
    top: 140px;
    left: 40px;
    width: 80px;
}

.e .line-horizontal-3 {
    top: 230px;
    left: 30px;
    width: 90px;
}

#e-ring-lr {
    top: 210px;
    left: 130px;
}


/* F */

#letter-f {
    margin-right: 10px;
}

.f .line-vertical-1 {
    top: 40px;
    height: 80px;
}

.f .line-vertical-2 {
    top: 180px;
    height: 70px;
}

.f .circle {
    top: 130px;
    left: -10px;
}

.f .line-horizontal-1 {
    top: 40px;
    left: 30px;
    width: 90px;
}

#f-ring-ur {
    top: 40px;
    left: 130px;
}

.f .line-horizontal-2 {
    top: 140px;
    left: 40px;
    width: 80px;
}


/* G */

.g .line-vertical-1 {
    top: 90px;
    height: 110px;
}

#g-ring-ul-1 {
    top: 40px;
}

#g-ring-ul-2 {
    top: 210px;
    left: 130px;
}

#g-ring-ll {
    top: 210px;
}

#g-ring-ur {
    top: 40px;
    left: 120px;
}

.g .line-horizontal-1 {
    top: 40px;
    left: 40px;
    width: 80px;
}

.g .line-horizontal-2 {
    top: 230px;
    left: 40px;
    width: 95px;
}

.g .circle {
    top: 160px;
    left: 140px;
}


/* H */

.h .line-vertical-1 {
    top: 40px;
    height: 110px;
}

.h .line-vertical-2 {
    top: 210px;
    height: 40px;
}

.h .line-vertical-3 {
    top: 40px;
    left: 150px;
    height: 40px;
}

.h .line-vertical-4 {
    top: 140px;
    left: 150px;
    height: 110px;
}

.h .circle-1 {
    top: 160px;
    left: -10px;
}

.h .circle-2 {
    top: 90px;
    left: 140px;
}

#h-ring-lr {
    top: 150px;
    left: 45px;
}

#h-ring-ul {
    top: 110px;
    left: 85px;
}


/* I */

#letter-i {
    margin-right: 10px;
}

.i .line-vertical-1 {
    top: 40px;
    left: 80px;
    height: 80px;
}

.i .line-vertical-2 {
    top: 180px;
    left: 80px;
    height: 70px;
}

.i .circle {
    top: 130px;
    left: 70px;
}


/* J */

.j .line-vertical-1 {
    top: 90px;
    left: 150px;
    height: 60px;
}

.j .circle-1 {
    top: 40px;
    left: 140px;
}

.j .circle-2 {
    top: 160px;
    left: 140px;
}

.j .line-horizontal-1 {
    top: 230px;
    left: 50px;
    width: 70px;
}

#j-ring-lr {
    top: 210px;
    left: 130px;
}

#j-ring-ll {
    top: 210px;
    left: 0px;
}


/* K */

.k .line-vertical-1 {
    top: 40px;
    height: 80px;
}

.k .line-vertical-2 {
    top: 180px;
    height: 70px;
}

.k .circle {
    top: 130px;
    left: -10px;
}

#k-ring-lr-1 {
    top: 100px;
    left: 45px;
}

#k-ring-ul {
    top: 60px;
    left: 85px;
}

#k-ring-lr-2 {
    top: 40px;
    left: 125px;
}

#k-ring-ur-1 {
    top: 150px;
    left: 45px;
}

#k-ring-ll {
    top: 190px;
    left: 85px;
}

#k-ring-ur-2 {
    top: 210px;
    left: 125px;
}


/* L */

#letter-l {
    margin-right: 10px;
}

.l .line-vertical-2 {
    top: 90px;
    height: 110px;
}

.l .circle {
    top: 40px;
    left: -10px;
}

#l-ring-ll {
    top: 210px;
    left: 0px;
}

#l-ring-lr {
    top: 210px;
    left: 130px;
}

.l .line-horizontal-1 {
    top: 230px;
    left: 50px;
    width: 70px;
}


/* M */

.m .line-vertical-1 {
    top: 90px;
    left: -5px;
    height: 160px;
}

.m .circle-1 {
    top: 40px;
    left: -15px;
}

.m .line-vertical-2 {
    top: 90px;
    left: 155px;
    height: 160px;
}

.m .circle-2 {
    top: 40px;
    left: 145px;
}

#m-ring-lr {
    top: 150px;
    left: 85px;
}

#m-ring-ll {
    top: 150px;
    left: 45px;
}

#m-ring-ur {
    top: 110px;
    left: 25px;
}

#m-ring-ul {
    top: 110px;
    left: 105px;
}


/* N */

.n .circle-1 {
    top: 40px;
    left: -10px;
}

.n .circle-2 {
    top: 210px;
    left: 140px;
}

.n .line-vertical-1 {
    top: 90px;
    left: 0px;
    height: 160px;
}

.n .line-vertical-2 {
    top: 40px;
    left: 150px;
    height: 160px;
}

#n-ring-ll {
    top: 100px;
    left: 40px;
}

#n-ring-ur {
    top: 140px;
    left: 80px;
}


/* O */

#letter-o {
    margin-right: 10px;
}

#o-ring-ul {
    top: 40px;
}

#o-ring-ll {
    top: 210px;
}

#o-ring-ur {
    top: 40px;
    left: 130px;
}

#o-ring-lr {
    top: 210px;
    left: 130px;
}

.o .line-vertical-1 {
    top: 90px;
    height: 110px;
}

.o .line-vertical-2 {
    top: 90px;
    left: 150px;
    height: 110px;
}

.o .line-horizontal-1 {
    top: 40px;
    left: 40px;
    width: 90px;
}

.o .line-horizontal-2 {
    top: 230px;
    left: 40px;
    width: 90px;
}

.o .circle {
    top: 125px;
    left: 70px;
}


/* P */

.p .line-vertical-1 {
    top: 40px;
    height: 80px;
}

.p .line-vertical-2 {
    top: 180px;
    height: 70px;
}

.p .circle {
    top: 130px;
    left: -10px;
}

.p .line-horizontal-1 {
    top: 40px;
    left: 30px;
    width: 90px;
}

.p .line-horizontal-2 {
    top: 140px;
    left: 40px;
    width: 80px;
}

#p-ring-ur {
    top: 40px;
    left: 130px;
}

#p-ring-lr {
    top: 120px;
    left: 130px;
}


/* Q */

#q-ring-ul {
    top: 40px;
}

#q-ring-ll {
    top: 210px;
}

#q-ring-ur-1 {
    top: 40px;
    left: 130px;
}

#q-ring-ur-2 {
    top: 210px;
    left: 140px;
}

.q .line-vertical-1 {
    top: 90px;
    height: 110px;
}

.q .line-vertical-2 {
    top: 90px;
    left: 150px;
    height: 110px;
}

.q .line-horizontal-1 {
    top: 40px;
    left: 40px;
    width: 90px;
}

.q .line-horizontal-2 {
    top: 230px;
    left: 40px;
    width: 90px;
}

.q .circle {
    top: 125px;
    left: 70px;
}


/* R */

#letter-r {
    margin-right: 10px;
}

.r .line-vertical-1 {
    top: 40px;
    height: 80px;
}

.r .line-vertical-2 {
    top: 180px;
    height: 70px;
}

.r .circle {
    top: 130px;
    left: -10px;
}

.r .line-horizontal-1 {
    top: 40px;
    left: 30px;
    width: 90px;
}

.r .line-horizontal-2 {
    top: 120px;
    left: 40px;
    width: 80px;
}

#r-ring-ur-1 {
    top: 40px;
    left: 130px;
}

#r-ring-ur-2 {
    top: 150px;
    left: 50px;
}

#r-ring-ur-3 {
    top: 210px;
    left: 130px;
}

#r-ring-lr {
    top: 100px;
    left: 130px;
}

#r-ring-ll {
    top: 190px;
    left: 90px;
}


/* S */

#s-ring-ul {
    top: 40px;
}

#s-ring-ur-1 {
    top: 40px;
    left: 120px;
}

#s-ring-ur-2 {
    top: 105px;
    left: 40px;
}

#s-ring-ll-1 {
    top: 210px;
}

#s-ring-ll-2 {
    top: 145px;
    left: 80px;
}

#s-ring-lr {
    top: 210px;
    left: 120px;
}

.s .line-horizontal-1 {
    top: 40px;
    left: 40px;
    width: 80px;
}

.s .line-horizontal-2 {
    top: 230px;
    left: 40px;
    width: 80px;
}

.s .circle-1 {
    top: 90px;
    left: -10px;
}

.s .circle-2 {
    top: 160px;
    left: 130px;
}


/* T */

.t .line-horizontal-1 {
    top: 50px;
    left: 0px;
    width: 55px;
}

.t .circle-1 {
    top: 40px;
    left: 65px;
}

.t .circle-2 {
    top: 210px;
    left: 65px;
}

.t .line-horizontal-2 {
    top: 50px;
    left: 115px;
    width: 55px;
}

.t .line-vertical-1 {
    top: 90px;
    left: 75px;
    height: 110px;
}


/* U */

#letter-u {
    margin-right: 10px;
}

.u .circle-1 {
    top: 40px;
    left: -10px;
}

.u .circle-2 {
    top: 160px;
    left: 140px;
}

.u .line-horizontal-1 {
    top: 230px;
    left: 40px;
    width: 90px;
}

.u .line-vertical-1 {
    top: 90px;
    left: 0px;
    height: 120px;
}

.u .line-vertical-2 {
    top: 50px;
    left: 150px;
    height: 100px;
}

#u-ring-ll {
    top: 210px;
}

#u-ring-lr {
    top: 210px;
    left: 130px;
}

.u .line-horizontal-2 {
    top: 230px;
    left: 30px;
    width: 110px;
}


/* V */

.v .line-vertical-1 {
    top: 90px;
    left: 0px;
    height: 70px;
}

.v .line-vertical-2 {
    top: 90px;
    left: 150px;
    height: 70px;
}

.v .circle-1 {
    top: 40px;
    left: -10px;
}

.v .circle-2 {
    top: 40px;
    left: 140px;
}

#v-ring-ur {
    top: 170px;
    left: 5px;
}

#v-ring-ll {
    top: 210px;
    left: 45px;
}

#v-ring-lr {
    top: 210px;
    left: 85px;
}

#v-ring-ul {
    top: 170px;
    left: 125px;
}


/* W */

.w .line-vertical-1 {
    top: 40px;
    left: -5px;
    height: 160px;
}

.w .circle-1 {
    top: 210px;
    left: -15px;
}

.w .line-vertical-2 {
    top: 40px;
    left: 155px;
    height: 160px;
}

.w .circle-2 {
    top: 210px;
    left: 145px;
}

#w-ring-lr {
    top: 140px;
    left: 25px;
}

#w-ring-ll {
    top: 140px;
    left: 105px;
}

#w-ring-ur {
    top: 100px;
    left: 85px;
}

#w-ring-ul {
    top: 100px;
    left: 45px;
}


/* X */

#letter-x {
    margin-right: 10px;
}

.x .circle-1 {
    top: 40px;
    left: -10px;
}

.x .circle-2 {
    top: 40px;
    left: 145px;
}

#x-ring-lr-1 {
    top: 130px;
    left: 85px;
}

#x-ring-ll-1 {
    top: 130px;
    left: 45px;
}

#x-ring-ur-1 {
    top: 90px;
    left: 25px;
}

#x-ring-ul-1 {
    top: 90px;
    left: 105px;
}

#x-ring-lr-2 {
    top: 40px;
    left: 145px;
}

#x-ring-lr-2 {
    top: 210px;
    left: 5px;
}

#x-ring-ll-2 {
    top: 210px;
    left: 125px;
}

#x-ring-ur-2 {
    top: 170px;
    left: 85px;
}

#x-ring-ul-2 {
    top: 170px;
    left: 45px;
}


/* Y */

#letter-y {
    margin-left: 260px;
}

.y .line-vertical-1 {
    top: 90px;
    left: 0px;
    height: 70px;
}

.y .line-vertical-2 {
    top: 90px;
    left: 150px;
    height: 70px;
}

.y .circle-1 {
    top: 40px;
    left: -10px;
}

.y .circle-2 {
    top: 40px;
    left: 140px;
}

#y-ring-ur {
    top: 90px;
    left: 5px;
}

#y-ring-ll {
    top: 130px;
    left: 45px;
}

#y-ring-lr {
    top: 130px;
    left: 85px;
}

#y-ring-ul {
    top: 90px;
    left: 125px;
}

.y .line-vertical-1 {
    top: 180px;
    left: 75px;
    height: 80px;
}


/* Z */

.z .line-horizontal-1 {
    top: 50px;
    left: 0px;
    width: 120px;
}

.z .circle-1 {
    top: 40px;
    left: 130px;
}

.z .line-horizontal-2 {
    top: 240px;
    left: 40px;
    width: 120px;
}

.z .circle-2 {
    top: 230px;
    left: -10px;
}

#z-ring-lr-1 {
    top: 155px;
    left: 50px;
}

#z-ring-ul-1 {
    top: 115px;
    left: 70px;
}

#z-ring-lr-2 {
    top: 95px;
    left: 110px;
}

#z-ring-ul-2 {
    top: 175px;
    left: 10px;
}